<li id= "property-li-<%=key%>"class="property-li">
    <div id = "default-view-<%=key%>"class="default-view">
        <div class="property-card">
            <h2 class="property-name"><p class="property-direction-p"><%= property.direction %></p><div id="delete-property-button-<%=key%>-<%=property.id%>" class="delete-property-button">X</div></h2>
            <div class="property-details-container">
                <h4 class="property-details-h4">Valores</h4>
                <p class="property-details-p">valor de venta:<%= property.valueSell%></p>
                <p class="property-details-p">valor de renta:<%= property.valueRent%></p>
            </div>
            <div class="property-characteristics-container">
                <h4 class="property-details-h4">características</h4>
                <% if(property.characteristics !== undefined) {%>
                    <% for(let i = 0; i<property.characteristics.length; i++){%>
                        <p class="property-characteristic-p"><%= property.characteristics[i].characteristicName %>: <%= property.characteristics[i].characteristic %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="edit-view-button-container">
                <button class="edit-view-button" id="edit-view-button-<%=key%>">editar</button>
            </div>
        </div>

    </div>
    <div id = "edit-view-<%=key%>" class="edit-view">
        <div class="property-card">
            <form id = "<%=key%>"action = "/properties/<%= property.id%>/edit" method="POST" class="edit-property-form">
                <h2 class="property-name"><p class="property-direction-p"><%= property.direction %></p><div id="delete-property-button-<%=key%>-<%=property.id%>" class="delete-property-button">X</div></h2>
                <div class="property-details-container">
                    <input class="property-details-input" type="text" name="valueSell" value="<%= property.valueSell%>">
                    <input class="property-details-input" type="text" name="valueRent" value="<%= property.valueRent%>">
                </div>
                <div id = "characteristics-container-<%=key%>" class="property-characteristics-container">
                    <h4 class="property-details-h4">características</h4>
                    <% if(property.characteristics !== undefined) {%>
                        <% for(let i = 0; i<property.characteristics.length; i++){%>
                            <p class="property-characteristic-p"><%= property.characteristics[i].characteristicName %>: <%= property.characteristics[i].characteristic %></p>
                        <% } %>
                    <% } %>
                </div>
                <div class="edit-view-button-container">
                    <button class="edit-view-button" id="edit-view-button-<%=key%>">editar</button>
                </div>
            </form>
        </div>
    </div>
</li>