<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/matches.css">
    <link rel="stylesheet" href="/css/popup.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs')-%>

    <div class="matches-container">
        <% if(matches.perfectMatches.length === 0 && matches.partialMatches.length === 0){ %>

            <h2 class="matches-h2">No hay coincidencias</h2>

        <% } %>
        <% for(let i = 0; i<matches.perfectMatches.length;i++){ %>
            <div class="perfect-match-container">
                <h2 class="perfect-match-h2"><%= matches.perfectMatches[i].property.direction %> & <%=matches.perfectMatches[i].client.name%></h2>
                <div class="match-details-container">
                    <h4 class="matches-h4">valores del inmueble</h4>
                    <p class="match-details-p">valor de venta: <%= matches.perfectMatches[i].property.valueSell %></p>
                    <p class="match-details-p">valor de renta: <%= matches.perfectMatches[i].property.valueRent %></p>
                    <h4 class="matches-h4">contacto del cliente:</h4>
                    <p class="match-details-p">tel: <%=matches.perfectMatches[i].client.phone %></p>
                    <p class="match-details-p">mail: <%=matches.perfectMatches[i].client.email %></p>
                </div>
                <div class="match-characteristics-container">
                    <h4 class="matches-h4">caracteristicas</h4>
                    <% if(matches.perfectMatches[i] !== undefined ) {%>

                        <h4 class="matches-h4">caracteristicas del inmueble</h4>
                        <% for(let j = 0; j< matches.perfectMatches[i].property.characteristics.length; j++){ %>
                        <p class="property-characteristic-p"> <%= matches.perfectMatches[i].property.characteristics[j].characteristicName%>: <%= matches.perfectMatches[i].property.characteristics[j].characteristic %></p>
                        <% } %>
                    <% } %>
                </div>
            </div>

        <% } %>

        <% for(let i = 0; i<matches.partialMatches.length;i++){ %>
            <div class="partial-match-container">
                <h2 class="partial-match-h2"><%= matches.partialMatches[i].property.direction %> & <%= matches.partialMatches[i].client.name%></h2>
                <div class="match-details-container">
                    <h4 class="matches-h4">valores del inmueble</h4>
                    <p class="match-details-p">valor de venta: <%= matches.partialMatches[i].property.valueSell %></p>
                    <p class="match-details-p">valor de renta: <%= matches.partialMatches[i].property.valueRent %></p>
                    <h4 class="matches-h4">contacto del cliente:</h4>
                    <p class="match-details-p">tel: <%=matches.partialMatches[i].client.phone %></p>
                    <p class="match-details-p">mail: <%=matches.partialMatches[i].client.email %></p>
                </div>
                <div class="match-characteristics-container">
                    <h4 class="matches-h4">caracteristicas</h4>
                    <% if(matches.partialMatches[i]!== undefined) {%>

                        <h4 class="matches-h4">caracteristicas del inmueble</h4>
                        <% for(let j = 0; j<matches.partialMatches[i].property.characteristics.length; j++){ %>
                            <p class="property-characteristic-p"> <%= matches.partialMatches[i].property.characteristics[j].characteristicName%>: <%= matches.partialMatches[i].property.characteristics[j].characteristic %></p>
                        <% } %>
                        <h4 class="matches-h4">demandas del cliente</h4>
                        <% for(let j = 0; j<matches.partialMatches[i].client.demands.length; j++){ %>
                            <p class="property-characteristic-p"><%= matches.partialMatches[i].client.demands[j].demandName%>: <%= matches.partialMatches[i].client.demands[j].demand%></p>
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>